In [27]:
import pandas as pd

# Misalkan Anda memiliki DataFrame bernama df
df = pd.read_excel('DATA ISPU - Normalization.xlsx')  # Gantilah 'nama_file.csv' dengan nama file dataset Anda

# Tampilkan DataFrame
df

,Tanggal,Wilayah,PM10,SO2,CO,O3,NO2,Max,Critical,Kategori
0,2017-01-01,DKI1 (Bunderan HI),0.719512,0.314286,0.458333,0.092308,0.012821,0.300518,PM10,SEDANG
1,2017-01-02,DKI1 (Bunderan HI),0.146341,0.295238,0.270833,0.082051,0.000000,0.139896,SO2,BAIK
2,2017-01-03,DKI1 (Bunderan HI),0.170732,0.295238,0.291667,0.087179,0.012821,0.139896,SO2,BAIK
3,2017-01-04,DKI1 (Bunderan HI),0.243902,0.295238,0.395833,0.087179,0.012821,0.139896,SO2,BAIK
4,2017-01-05,DKI1 (Bunderan HI),0.304878,0.295238,0.458333,0.056410,0.012821,0.139896,SO2,BAIK
...,...,...,...,...,...,...,...,...,...,...
2186,2022-12-27,DKI1 (Bunderan HI),0.280488,0.447619,0.166667,0.051282,0.064103,0.222798,SO2,BAIK
2187,2022-12-28,DKI1 (Bunderan HI),0.256098,0.447619,0.125000,0.041026,0.064103,0.222798,SO2,BAIK
2188,2022-12-29,DKI1 (Bunderan HI),0.317073,0.485714,0.166667,0.046154,0.102564,0.243523,SO2,SEDANG
2189,2022-12-30,DKI1 (Bunderan HI),0.560976,0.466667,0.187500,0.076923,0.153846,0.233161,PM10,SEDANG
2190,2022-12-31,DKI1 (Bunderan HI),0.543846,0.199793,0.283437,0.189768,0.148274,0.276776,NaN,TIDAK ADA DATA

In [28]:
print(df.describe())

                             Tanggal         PM10          SO2           CO
count                           2191  2191.000000  2191.000000  2191.000000  \
mean   2019-12-31 20:42:49.785486080     0.543002     0.199387     0.283530
min              2017-01-01 00:00:00     0.000000     0.000000     0.000000
25%              2018-07-02 12:00:00     0.439024     0.123810     0.187500
50%              2020-01-01 00:00:00     0.573171     0.180952     0.283437
75%              2021-07-01 12:00:00     0.658537     0.247619     0.354167
max              2022-12-31 00:00:00     1.000000     1.000000     1.000000
std                              NaN     0.164261     0.120280     0.148531

                O3          NO2          Max
count  2191.000000  2191.000000  2191.000000
mean      0.188792     0.146809     0.276776
min       0.000000     0.000000     0.000000
25%       0.097436     0.051282     0.217617
50%       0.153846     0.128205     0.274611
75%       0.256410     0.192308     0.331606
max       1.000000     1.000000     1.000000
std       0.125257     0.127265     0.103814

In [29]:
df.count()

Tanggal     2191
Wilayah     2191
PM10        2191
SO2         2191
CO          2191
O3          2191
NO2         2191
Max         2191
Critical    2102
Kategori    2191
dtype: int64